/*
Project Name: Happy Birthday Website (CSS)
Description: A website designed to invite people to a birthday party
Created by: Taren Lewis, with credit & Template by Christ Castiglione @ Onemonth: https://onemonth.com/dashboard
*/


/*----------------------------------------------------------------------------- 
GENERAL FORMATTING   
-----------------------------------------------------------------------------*/

body {
    background-image: url("../images/space-background.png");
    font-family: 'Open Sans', arial, sans-serif;
    /*Full page background image (bg follows window resizing)*/
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

* {
    -moz-box-sizing: border-box;
    /* Firexfox */
    -webkit-box-sizing: border-box;
    /* Safari/Chrome/iOS/Android */
    box-sizing: border-box;
    /* IE */
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.left {
    float: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.right {
    float: right;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

p {
    /*paragraph style*/
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 1.563rem;
    margin-top: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

img {
    width: 100%;
}


/*----------------------------------------------------------------------------- 
HEADING STYLES
-----------------------------------------------------------------------------*/

h1,
h2 {
    font-family: 'Lobster', cursive;
    font-size: 3.125rem;
    color: #e22f8f;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-size: 1.563rem;
    padding: 0.625rem;
}


/*----------------------------------------------------------------------------- 
CONTAINER STYLES
-----------------------------------------------------------------------------*/

.container {
    width: 37.5rem;
    margin-right: auto;
    margin-left: auto;
    background: #FFF;
}

.intro {
    padding-bottom: 1.25rem;
}

.conclusion {
    padding: 1.25rem 0px 0px 0px;
    background: lightgray;
}

.map-responsive {
    height: 0;
    position: relative;
    padding-bottom: 75%;
    overflow: hidden;
}