/* 

Project Name: Viper
Client: Dan Kelly
Author: Taren Lewis
Developed @ Chicago, IL

*/

ul {

	position: fixed;
 	top: 0;
	width: 100%;
	  
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
  }
  


  li {
	float: right;
  }
  
  li a {
	display: block;
	color:black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
	background-color: #111;
  }



body {
    background: url('../images/orchard.jpg');
    
	/* the follow is the code to have the image display as a full page */
	background-position: center;
	background-attachment: fixed;
	-webkit-background-size: cover; /* the next 3 lines are "browser prefixes", they are necessary to include for CSS3 techniques */
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	

}



#container {
    background: url('../images/planning.jpg');
    background-repeat: no-repeat;
    background-size: 300px 100px;

	width: 400px;
	height: 640px;
	color: white;
	padding: 15px;
	border-bottom-right-radius: 10px;
}

h1{
	font-size: 80px;
}

h2{
	background: #0FE1F5;
	font-family: 'Roboto Mono', monospace;
	color: black;
	width: 340px;
	padding: 5px;
	border-radius: 5px;
}

a{
	color: #0FE1F5;
	text-decoration: none;
}