/* 
Project Name: Monthly Resolutions
Author: Taren Lewis, with credit & Template by Christ Castiglione @ Onemonth: https://onemonth.com/dashboard
*/


/*----------------------------------------------------------------------------- 
GENERAL FORMATTING   
-----------------------------------------------------------------------------*/


/* Box Model Hack */

* {
    -moz-box-sizing: border-box;
    /* Firexfox */
    -webkit-box-sizing: border-box;
    /* Safari/Chrome/iOS/Android */
    box-sizing: border-box;
    /* IE */
}

.clear {
    clear: both;
}

body {
    background-image: url("../images/notebook.png");
    background-repeat: repeat;
}


/*----------------------------------------------------------------------------- 
TITLE
-----------------------------------------------------------------------------*/


/*Website Title Formatting */

.pageTitle {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    letter-spacing: -4.5px;
    font-size: 60px;
    margin: 50px 0 0;
}

.pageTitleDescription {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 17px;
    text-align: left;
    margin: -6px 0px 30px;
}


/*----------------------------------------------------------------------------- 
BLOG 
-----------------------------------------------------------------------------*/


/*Blog post formatting*/

.monthlyBlog {
    width: 700px;
    background: white;
    padding: 25px;
    float: left;
    box-shadow: -1px -2px 5px 0 #555;
}


/* Blog Title Example:  Learn HTML  or Learn to play guitar  */

.blogTitle {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 30px;
    margin: 10px 0 5px;
}

.blogImageFormat {
    width: 650px;
}


/*Describes the monthly resolution*/

.blogResolutionDescription {
    font-family: 'Kalam', cursive;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    padding: 15px 0px 5px 0px;
}


/*footnote "This blog post by Taren Lewis, etc"*/

.blogFootnoteFormat {
    font-family: 'Kalam', cursive;
    font-weight: bold;
    font-size: 15px;
    color: gray;
    text-align: left;
    padding: 15px 0px 25px 0px;
}

.hrFormat {
    border-top: 5px dotted gray;
}


/*----------------------------------------------------------------------------- 
SIDEBAR
-----------------------------------------------------------------------------*/


/*Sidebar Formatting*/

.sidebarFormat {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 0px 0px 0px 20px;
}

.sidebarImageFormat {
    width: 200px;
    padding: 15px;
}

.sidebarLink {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    color: orange;
    padding: 0 0 35px 0;
}


/*----------------------------------------------------------------------------- 
LAYOUT IDs
-----------------------------------------------------------------------------*/

#container {
    width: 1000px;
    margin: 0 auto 0 auto;
    background: transparent;
}

#header {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    padding: 0;
    margin: 0;
}

#sidebar {
    width: 290px;
    margin-left: 10px;
    padding: 10px;
    background: white;
    float: right;
    box-shadow: -1px -2px 5px 0 #555;
}

#blockquote {
    border-left: 5px solid #eee;
    font: italic bold 12px/30px 'Lato', sans-serif;
    font-size: 15px;
    padding-left: 12px;
}

#footer {
    float: left;
}


/*----------------------------------------------------------------------------- 
03=MAIN  
-----------------------------------------------------------------------------*/